In [1]:
import joblib
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

D:\Jupyter notebook\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:

df = pd.read_csv("Electric_Vehicle_Population_By_County.csv")

In [6]:
df.head(30)

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,September 30 2022,Riverside,CA,Passenger,7,0,7,460,467,1.50
1,December 31 2022,Prince William,VA,Passenger,1,2,3,188,191,1.57
2,January 31 2020,Dakota,MN,Passenger,0,1,1,32,33,3.03
3,June 30 2022,Ferry,WA,Truck,0,0,0,"3,575","3,575",0.00
4,July 31 2021,Douglas,CO,Passenger,0,1,1,83,84,1.19
5,May 31 2018,Maui,HI,Passenger,1,0,1,59,60,1.67
6,November 30 2017,Northampton,PA,Passenger,0,1,1,66,67,1.49
7,March 31 2018,Nassau,NY,Passenger,1,0,1,37,38,2.63
8,March 31 2020,DeKalb,IN,Passenger,1,0,1,1,2,50.00
9,January 31 2019,Columbia,WA,Truck,0,0,0,"1,529","1,529",0.00
10,February 28 2017,Maui,HI,Passenger,1,0,1,73,74,1.35
11,September 30 2017,Orleans,LA,Passenger,0,1,1,45,46,2.17
12,December 31 2018,Ramsey,MN,Passenger,1,0,1,41,42,2.38
13,November 30 2020,Manassas,VA,Passenger,0,1,1,5,6,16.67
14,February 29 2020,Montgomery,AL,Passenger,0,1,1,38,39,2.56
15,August 31 2019,Albemarle,VA,Passenger,1,0,1,23,24,4.17
16,May 31 2020,Monroe,IL,Passenger,1,0,1,3,4,25.00
17,December 31 2021,San Diego,CA,Passenger,17,6,23,"2,541","2,564",0.90
18,June 30 2021,Skamania,WA,Truck,0,0,0,"4,026","4,026",0.00
19,January 31 2017,Douglas,WA,Truck,0,0,0,"11,425","11,425",0.00
20,October 31 2022,Washington,OR,Passenger,1,0,1,296,297,0.34
21,December 31 2022,Sarpy,NE,Passenger,1,0,1,57,58,1.72
22,February 29 2020,Owyhee,ID,Passenger,1,0,1,3,4,25.00
23,June 30 2022,Clinton,PA,Passenger,1,0,1,1,2,50.00
24,May 31 2022,Yakima,WA,Truck,0,0,0,"61,408","61,408",0.00
25,October 31 2017,Virginia Beach,VA,Passenger,2,1,3,651,654,0.46
26,May 31 2020,Sedgwick,KS,Passenger,1,1,2,96,98,2.04
27,September 30 2021,Kittitas,WA,Truck,0,0,0,"14,783","14,783",0.00
28,April 30 2021,Asotin,WA,Passenger,19,14,33,"12,651","12,684",0.26
29,June 30 2021,San Francisco,CA,Passenger,0,1,1,100,101,0.99

In [7]:
df.shape

(20819, 10)

In [9]:
df.tail(40)

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
20779,October 31 2020,St. Mary's,MD,Passenger,1,0,1,215,216,0.46
20780,August 31 2017,Bexar,TX,Passenger,1,1,2,858,860,0.23
20781,April 30 2022,Calvert,MD,Passenger,0,2,2,80,82,2.44
20782,October 31 2022,Douglas,NE,Passenger,2,2,4,36,40,10.00
20783,November 30 2022,Franklin,WA,Truck,3,0,3,"20,929","20,932",0.01
20784,November 30 2021,Chelan,WA,Passenger,400,113,513,"54,688","55,201",0.93
20785,February 28 2023,St. Clair,IL,Passenger,1,0,1,111,112,0.89
20786,September 30 2021,Charles,MD,Passenger,1,1,2,70,72,2.78
20787,May 31 2017,Clackamas,OR,Passenger,1,1,2,304,306,0.65
20788,April 30 2023,Autauga,AL,Passenger,2,0,2,13,15,13.33
20789,September 30 2023,Sheridan,WY,Passenger,1,0,1,3,4,25.00
20790,May 31 2022,Eagle,CO,Passenger,1,0,1,7,8,12.50
20791,May 31 2021,Grant,WA,Passenger,102,87,189,"66,834","67,023",0.28
20792,February 28 2017,Arlington,VA,Passenger,1,1,2,173,175,1.14
20793,April 30 2022,Norfolk,VA,Passenger,3,3,6,301,307,1.95
20794,February 28 2023,Denton,TX,Passenger,2,0,2,50,52,3.85
20795,April 30 2023,Tooele,UT,Passenger,1,0,1,8,9,11.11
20796,March 31 2020,Chelan,WA,Passenger,220,79,299,"54,474","54,773",0.55
20797,March 31 2023,Ada,ID,Passenger,2,0,2,132,134,1.49
20798,August 31 2017,Anne Arundel,MD,Passenger,0,1,1,493,494,0.20
20799,July 31 2021,Klamath,OR,Passenger,1,0,1,31,32,3.12
20800,February 28 2017,Shelby,TN,Passenger,0,1,1,113,114,0.88
20801,April 30 2023,Parker,TX,Passenger,0,1,1,16,17,5.88
20802,April 30 2019,Valencia,NM,Passenger,1,0,1,10,11,9.09
20803,February 28 2019,Spokane,WA,Passenger,480,386,866,"307,186","308,052",0.28
20804,March 31 2022,Whitman,WA,Truck,0,0,0,"8,591","8,591",0.00
20805,July 31 2019,Spokane,WA,Passenger,556,435,991,"312,662","313,653",0.32
20806,April 30 2023,Pend Oreille,WA,Passenger,31,13,44,"8,902","8,946",0.49
20807,December 31 2022,Houston,GA,Passenger,1,0,1,28,29,3.45
20808,December 31 2021,Garfield,WA,Passenger,0,3,3,"1,348","1,351",0.22
20809,October 31 2021,Loudoun,VA,Passenger,1,0,1,66,67,1.49
20810,February 29 2020,Howard,MD,Passenger,0,1,1,79,80,1.25
20811,January 31 2023,Autauga,AL,Passenger,2,0,2,13,15,13.33
20812,February 28 2023,Collier,FL,Passenger,1,0,1,16,17,5.88
20813,January 31 2022,Providence,RI,Passenger,1,0,1,22,23,4.35
20814,January 31 2023,Rockingham,NH,Passenger,1,0,1,14,15,6.67
20815,July 31 2020,Carson City,NV,Passenger,1,0,1,10,11,9.09
20816,February 28 2022,Island,WA,Passenger,744,350,"1,094","62,257","63,351",1.73
20817,December 31 2020,San Diego,CA,Passenger,14,2,16,"2,724","2,740",0.58
20818,November 30 2019,Goochland,VA,Passenger,3,1,4,271,275,1.45

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20819 entries, 0 to 20818
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      20819 non-null  object
 1   County                                    20733 non-null  object
 2   State                                     20733 non-null  object
 3   Vehicle Primary Use                       20819 non-null  object
 4   Battery Electric Vehicles (BEVs)          20819 non-null  object
 5   Plug-In Hybrid Electric Vehicles (PHEVs)  20819 non-null  object
 6   Electric Vehicle (EV) Total               20819 non-null  object
 7   Non-Electric Vehicle Total                20819 non-null  object
 8   Total Vehicles                            20819 non-null  object
 9   Percent Electric Vehicles                 20819 non-null  float64
dtypes: float64(1), object(9)
memory usage: 1.6+ MB

In [11]:
df.isnull().sum()

Date                                         0
County                                      86
State                                       86
Vehicle Primary Use                          0
Battery Electric Vehicles (BEVs)             0
Plug-In Hybrid Electric Vehicles (PHEVs)     0
Electric Vehicle (EV) Total                  0
Non-Electric Vehicle Total                   0
Total Vehicles                               0
Percent Electric Vehicles                    0
dtype: int64